<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>New Visits Submission form</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>
  </head>
  <body>
    <h1>Hi <%= name %>,you have travelled to the following places:</h1>
    <ul>
      <% countries.forEach(function(country) { %>
      <li><%= country.name %>: <%= country.id %></li>
      <% }); %>
    </ul>
    <p>
      <strong> Keep Exploring! </strong>
    </p>
    <form
      action="/api/visits?access_token=<%= token %>&user_id=<%= userId %>"
      method="post"
      class="form"
    >
      <div class="form">
        <label for="countryName">
          Enter country:
          <input type="text" id="country" name="country" />
        </label>
        <label for="arrivalTime">
          Enter arrival time:
          <input
            type="datetime-local"
            id="arrivalTime"
            name="arrivalTime"
            requied
          />
        </label>
        <label for="departureTime">
          Enter departure time:
          <input
            type="datetime-local"
            id="departureTime"
            name="departureTime"
            required
          />
        </label>
        <button>Save</button>
      </div>
    </form>
    <script class="awesomplete" src="/countries-autocompletion.js"></script>
    <script>
      const allCountries = <%- JSON.stringify(allCountries) %>;
    </script>
  </body>
</html>
